/.idea/
/.gradle/
/.settings/
/.vscode/

/bin/
/build/
/out/
/temp/
/tmp/

/tokens/
/src/main/resources/betterdeathcounter/credentials.json
/data/*.yaml
/graphs/*/*.png

hs_err_pid*

.metadata
.project
.classpath
*.iml
local.properties

/src/*/java/**/classDiagram.png
/src/*/java/**/classDiagram.svg
/src/*/scenarios/**/*.html
/src/*/scenarios/**/*.png
/src/*/scenarios/**/*.svg
/src/*/scenarios/**/*.txt
/src/*/scenarios/**/*.yaml
