.vbox {
    -fx-background-color: #2c2c2c;
}

.chart-vertical-grid-lines {
    -fx-stroke: #000000;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #000000;
}

.chart-plot-background {
    -fx-background-color: gray;
}

/* .chart-alternative-row-fill {
    -fx-fill: transparent;
} */

.axis {
    -fx-tick-label-font-size: 1.2em;   
    -fx-tick-label-fill: #cacaca;
    -fx-tick-label-font-weight: bold;
}
 
.axis-label {
   -fx-text-fill: #cacaca;
   -fx-font-size: 1.8em;
   -fx-font-weight: bold;
   -fx-pref-height: 42;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { 
    -fx-stroke: #ffbf00; 
    -fx-stroke-width: 3px;
}

.default-color1.chart-series-line { 
    -fx-stroke: #ff0000;
    -fx-stroke-width: 4px;
}

.default-color2.chart-series-line { 
    -fx-stroke: #00b7ff75;
    -fx-stroke-width: 3px;

}

.default.chart-line-symbol {
    -fx-pref-width: 2;
    -fx-pref-height: 2;
}

.series1.default-color1.chart-line-symbol { 
    -fx-background-color: transparent, transparent;
}

.default-color0.chart-line-symbol { 
    -fx-background-color: #a55800, #ffbf00;
}

.default-color1.chart-line-symbol { 
    /* -fx-background-color: #ff0000, white;  */
    -fx-background-color: rgba(255, 0, 0, 0), rgba(255, 0, 0, 0);
}

.default-color2.chart-line-symbol { 
    -fx-background-color: #17617d, #00b7ff;
}

